
<div class="langing-bg">
    <div class="container">
        <div class="row logo-section ">
            <div class="col-12 text-center">
                <img src="assets/images/logo-white-ar.png" width="200" alt="">
            </div>

            <div class="col-12 text-center">
                <h2 class="landing-header">
                    الجامعات المصرية الأهلية
                </h2>
                <h4 class="">
                    <span class="home-slogan">
                        جيل جديد من الجامعات الذكية
                    </span>
                </h4>
            </div>
        </div>

        <div class="row mt-4 ">
            <div class="col-12 unis-section ">
                <div class="row">
                    <div class="col-6 col-md-3 mb-3 text-center">
                        <a target="_blank" href="http://www.gu.edu.eg/ar"><img src="assets/images/Group 2.png"
                                width="100%" alt=""></a>
                    </div>
                    <div class="col-6 col-md-3 mb-3 text-center">
                        <a target="_blank" href="http://www.ksiu.edu.eg/ar"><img src="assets/images/king-salman.png"
                                width="100%" alt=""></a>
                    </div>
                    <div class="col-6 col-md-3 mb-3 text-center">
                        <a target="_blank" href="http://www.aiu.edu.eg/ar"><img src="assets/images/alamein.png"
                                width="100%" alt=""></a>
                    </div>
                    <div class="col-6 col-md-3 mb-3 text-center">
                        <a target="_blank" href="https://www.nmu.edu.eg/ar"><img src="assets/images/Group 4@2x.png"
                                width="100%" alt=""></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row types-section">
            <div class="col-md-12 col-12 normal-students">
                <div class="content-div">
                    <div class="content-brief">
                        <h5> طلبة الثانوية </h5>
                        <p>
                            العامة المصرية والشهادات المعادلة المصرية والعربية والأجنبية من داخل وخارج جمهورية مصر العربية
                        </p>
                        <hr>
                    <p>سيتم فتح باب التسجيل في خلال</p>
                    </div>
                    
                    <app-timer></app-timer>
                </div>
                
            </div>
      

            <!-- <div class="col-12 col-md-6 graduate-students">
                <div class="content-div">
                    <div class="content-brief">
                        <h5>{{'WELCOMEPAGE.GRADINIT' | translate}}</h5>
                        <p>
                            {{'WELCOMEPAGE.GRADINFO' | translate}}
                        </p>
                    </div>
                    <div class="content-actions">
                        <a [routerLink]="['register']" [hidden]="isAdmissionClosed" (click)="registerStudentType('grad')" class="btn goTo-btn js-scroll-trigger">{{'WELCOMEPAGE.GRADREG' | translate}}</a>
                        <hr class="welcome-hr"/>
                        <a class="btn goTo-btn" href={{graduateInfoLink}}>
                            {{'WELCOMEPAGE.GRADFILE' | translate}}
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row desc-section mt-4 ">
            <div class="col-12  text-right ">
                <p>
                    الجامعات الأهلية تهدف الى المنافسة العالمية في مجال العلوم والتكنولوجيا وتنمية الثقافة ، والحفاظ على الهوية المصرية وتعزيز الروابط مع الدول العربية والأفريقية ، من خلال تقديم تعليم عالي يدعم الابتكار ويخلق جيل قادر على الريادة إقليمياً وعالمياً
                </p>
            </div>
            <div class="text-right">
                <p> ارشادات:</p>
                <p> 
                     هذا الموقع مخصص للتقدم للالتحاق بالجامعات الأهلية المصرية للطلاب المصريين الحاصلين على شهادة الثانوية العامة المصرية وما يعادلها من شهادات مصرية وعربية وأجنبية
                </p>
                <p>
                     يمكن للطلاب الحاصلين على الدبلومات الفنية والدبلومات الفنية المتقدمة والدبلومات المتوسطة التقدم لبعض برامج الجامعات الأهلية طبقا لقواعد قبول حاملي الدبلومات بالجامعات المصرية حيث ستظهر لك البرامج المتاحة بعد التسجيل
                </p>
                <p> التسجيل على الموقع مجاني ولا يتم دفع أية رسوم للتسجيل أو فتح ملف للتقديم</p>
                <p>  الطلاب العرب والأجانب من غير المصريين يمكنهم التقدم مباشرة للجامعات الأهلية أو عبر بوابة الطلبة الوافدين
                    <a href="https://admission.study-in-egypt.gov.eg/" target="_blank"> اضغط هنا</a>
                </p>
                <p> 
                     تأكد من أن لديك حساب بريد إلكتروني تستطيع الوصول إليه واستقبال الرسائل البريدية عليه
                </p>
                <p> 
                     تأكد من أن لديك حساب بريد إلكتروني تستطيع الوصول إليه واستقبال الرسائل البريدية عليه
                </p>
                <p>
                     يجب أن يقوم الطالب بنفسه وتحت إشراف ولي أمره بإدخال البيانات واختيار الرغبات وينصح بشدة بعدم اللجوء لمكاتب خارجية
                </p>
                <p> 
                     ليست هناك أية رسوم يتم دفعها إلا عبر هذا الموقع فقط والرسوم فقط لدخول اختبارات القبول علما بأن رسوم الاختبارات غير مستردة
                </p>
                <p> 
                     البيانات التي يتم تسجيلها بيانات خاصة وسرية ولا يجب إطلاع الغير عليها والحفاظ على كلمة المرور هي مسؤولية الطالب
                </p>
            </div>
        </div>

        <!-- Homepage new arrangement -->
        <div class="row btn-section  mb-4">
            <div class="col-12 text-center ">
                <a style="font-size: 20px;" href="https://www.youtube.com/watch?v=V5A5_CVvb0w" class="btn goTo-btn js-scroll-trigger" target="_blank">
                    فيديو توضيحي لخطوات التقدم وتسجيل الرغبات</a>
            </div>
        </div>

        
     
        <!-- <div class="row disclaimer">
            <div class="col-12" style="color:blue;">
                <p style="color:blue; text-align: right">
                    {{'WELCOMEPAGE.DETAILS' | translate}}
                    <a (click)="downloadMyFile()" href="">({{'WELCOMEPAGE.PRESSHERE' | translate}})</a>
                    <br />
                </p>
                <div id="stdInfo" *ngFor="let announcement of allAnnouncements">
                    <span [innerHTML]="announcement.value" *ngIf="!announcement.isHidden">
                    </span>
                </div>

            </div>
            <div class="col-12">
                
            </div>
        </div> -->




    </div>
</div>